body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    height: 56px;
    
}
.headerleft{
    display: flex;
    align-items: center;
}
.hamberger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 10px  5px;
    justify-content: space-between;
    cursor: pointer;
}
.hamberger svg {
    padding: 8px;
}

.logo {
    width: 90px;
    height: 20px;
    top: 0;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
}

.search input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline-color: blue;
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
    border-radius: 2px 0 0 2px;
}

.searchicon {
    width: 64px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f1f1f1;
    cursor: pointer;
}

.voiceicon {
    width: 45px;
    height: 40px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
    background: #f1f1f1;
    cursor: pointer;
}

.voiceicon svg {
    width: 24px;
    height: 24px;
}

.headerright {
    align-items: center;
    display: flex;
}

.headericon {
    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    border: none;
    background:none;
    cursor: pointer;
}
.myimgbtn {
    border: none;
    background:none;
    cursor: pointer;
}
.myimg img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    margin-right: 20px;
}

.allcontainer {
    background: #f1f1f1;
    width: 100%;
}

.mainsection {
    width: 100%;
    padding: 24px;
    display: flex;
}

.mainsection iframe {
    margin-left: 90px;
    width: 880px;
    height: 480px;
}

.textcontainer {
    margin-left: 110px;
}

.viewname {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}

.textcontainer span {
    color: rgb(7, 72, 252);
}

.viewicon {
    display: flex;
    width: 880px;
    display: flex;
    /* justify-content: space-between; */
}

.viewicontext {
    margin-left: 110px;
    margin-top: 0;
    color: #777;
}

.wiewiconright {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
}

.main-textcontainer {
    border-bottom: 1px solid #ddd;
}